# Python basics

In [9]:
print("hello world!")

hello world!

## variabales  is storage of a value with some names.

In [10]:
a=123
b="hello world"
c=23.222

In [11]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      123
b          str      hello world
c          float    23.222
s          str      good morning
s1         str      good
s2         str      morning

In [12]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
del c #del is used to delete that variable with address

In [14]:
%whos

Variable   Type    Data/Info
----------------------------
a          int     123
b          str     hello world
s          str     good morning
s1         str     good
s2         str     morning

In [15]:
s1='good '
s2='morning'
s=s1+s2 #string concatenation
print(s)

good morning

In [16]:
num=123
@num=3.4        #varibel name not start with symbols except '_'
_num=3.455
3num="string"    #variable name can't be start with number also
print(num)
print(_num)

SyntaxError: invalid syntax (440581900.py, line 2)

## BOOLEAN OPERATIORS COMPARATORS

In [1]:
x=2<3
y=True
z=5==6
print(3==3.0)
print(x)
print(y)
print(z)
print(not(10!=10))

True
True
True
False
True

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          bool    True
y          bool    True
z          bool    False

In [4]:
print(z and y)
print(z or y)
print(not((x and y)or(z and False)))

False
True
False

In [5]:
print((True and True or False))
print(True and False or True) #always "or" operator works first
print((not(2!=3)and True)or (False and True))

True
True
False

### ROUND() FUNCTION->round funtion gives the ceil value when decimal starts with 5 and gives floor decimal starts with below 5

In [21]:
print(round(5.677))
print(round(5.5))
print(round(5.32423))
print(round(7.343434,4)) #rounds 4 decimal points

6
6
5
7.3434

## DIVMOD()->return the dividor and the reminder in tuple form

In [22]:
print(divmod(27,5)) #5 is dividor and 2 is reminder in this problem

(5, 2)

In [23]:
t=divmod(27,10) #result will  save in the tuple format
print(t)
print(type(t))
print(t[0])
print(t[1])

(2, 7)
<class 'tuple'>
2
7

#### ISINSTACE-> isinstance funciton is used to check wheather given value with given datatype

In [24]:
print(isinstance(1,int))
print(isinstance(2.44,int))
print(isinstance(2+4j,(int,float,complex)))

True
False
True

### POW
  ->pow(x,y) is x power y =$x^y$
  ->pow(x,y,z) is x power y =$x^y$ and modulus of z
  -> know more about any function function?

In [25]:
print(pow(3,4))
print(pow(3,4,2)) #81%2 =1 reminder

81
1

## user input

In [ ]:
str1=input("Enter any string")
str2=int(input("Enter only integers"))
print(str1)
print(str2)

In [6]:
fl=float(input("Enter float values only:"))
inn=int(input("Enter integer values only:"))
print(fl)
print(inn)

Enter float values only:123
Enter integer values only:123
123.0
123

# CONTROL FLOW

#### CONTROL STATEMENTS

In [11]:
grade=float(input("Enter your marks:"))
if(grade>90):
    print("EX GRADE")
elif(grade>80 and grade<=90):
    print("A GRADE")
elif(grade>70 and grade<=80):
    print("B GRADE")
elif(grade>60 and grade<=70):
    print("C GRADE")
elif(grade>50 and grade<=60):
    print("D GRADE")
elif(grade>42 and grade<=50):
    print("E GRADE")
else:
    print("FAIL")

Enter your marks:78.4
B GRADE

### LOOPS

In [5]:
for i in range(10):
    print(i)
for j in range(2,12):
    print(j,end=" ")
print()
for k in range(10,100,7):
    #break
    print(k,end=' ')

0
1
2
3
4
5
6
7
8
9
2 3 4 5 6 7 8 9 10 11
10 17 24 31 38 45 52 59 66 73 80 87 94

In [13]:
num_1=10
while(num_1<20):
    print(num_1)
    num_1+=1

10
11
12
13
14
15
16
17
18
19

In [14]:
for i in range(2,20):
    if(i%2==0):
        print(i)
    else:
        pass
print("loop end")

2
4
6
8
10
12
14
16
18
loop end

In [15]:
for i in range(10):
    print(i)
        
else:
    print("for else part")

0
1
2
3
4
5
6
7
8
9
for else part

## FUNCTIONS

In [16]:
def msg():
    print("hello this is function")

In [17]:
msg()

hello this is function

In [7]:
def msg1():
    """this doc string about this function definition,user can know about this function see the docstring"""
    print("msg1 function print only single statement")
msg1()

msg1 function print only single statement

In [8]:
msg1?

In [20]:
def messgearg(mssg):
    print(mssg)
messgearg(7)
messgearg("hello friends")

7
hello friends

In [10]:
def g(a,b,c):
    print(a+b+c)
g(1,2,4)    #arguments must number of argments in definition of function

7

In [38]:
def ff(c2,c1,c3):
    print(c1,c2,c3)
ff(11,22,33)

22 11 33

In [39]:
ff(c1=11,c2=22,c3=33)

11 22 33

### GLOBAL AND LOCAL VARIABLE

In [13]:
glb=20   #global variable 
def fun_():
    lvb=10  #local variable
    glb=22
    print(glb)
    print(lvb)
fun_()
print(glb)

22
10
20

In [14]:
print(glb)

20

In [15]:
type(fun_())

22
10

NoneType

## RETURN

In [43]:
def add(xx,yy):
    return xx+yy
print(add(12,54))

66

In [44]:
type(add(1,2))

int

In [45]:
def r():
    print("A")
    print("B")
    return
    print("something")
r()

A
B

In [46]:
def p():
    a=9
    b=7
    c=3
    return a,b,c
h,j,l=p()
print(l,j,h)

3 7 9

In [47]:
def add1(*args):
    s=0
    for i in range(len(args)):
        s+=args[i]
    return s
print(add1(1,2,3,4,5))

15

In [22]:
def dictinargs(**args):
    for x in args:
        print("key:",x," value:",args[x])
dictinargs(a=2,b="hi",c=4+7j)

key: a  value: 2
key: b  value: hi
key: c  value: (4+7j)

In [49]:
def default(s=33):
    print(s)

In [50]:
default()

33

In [51]:
default(66)

66

In [52]:
l1=[1,2,3]
l2=l1
l2[2]=44
print(l1)

[1, 2, 44]

In [18]:
def fun1(l3=[1,2,3,5,6]):
    for i in l3:
        print(i)

In [19]:
fun1()

1
2
3
5
6

In [20]:
l4=[66,77,88,99]
fun1(l4)

66
77
88
99

In [56]:
fun1()

1
2
3
5
6

In [57]:
#minimum element in the list
def minele(L,start):
    mine=L[start]
    idx=start
    for i in range(start,len(L)):
        if L[i]<mine:
            mine=L[i]
            idx=i
        
    return mine,idx

In [58]:
print(minele([2,4,6,1,3],0))

(1, 3)

In [59]:
def swapele(tmp1,tmp2):
    tmp=tmp2
    tmp2=tmp1
    tmp1=tmp
    return tmp1,tmp2

In [60]:
print(swapele(22,33))

(33, 22)

In [61]:
def swaplistele(L1,idx1,idx2):
    tmp=L1[idx1]
    L1[idx1]=L1[idx2]
    L1[idx2]=tmp
    return L1

In [62]:
print(swaplistele([2,5,3,1,0],0,4))

[0, 5, 3, 1, 2]

In [63]:
def sortlist(L):
    c=0
    for x in L:
        m,idx=minele(L,c)
        L=swaplistele(L,c,idx)
        c+=1
    return L

In [64]:
print(sortlist([2,3,-1,7,5]))

[-1, 2, 3, 5, 7]

## STRINGS

In [65]:
s="this is python basics "
t="for the data science."
print(s+","+t)

this is python basics ,for the data science.

In [66]:
print("data science in sem" ,2,"for cse students" )

data science in sem 2 for cse students

In [67]:
v=s+'and '+t
print(v)

this is python basics and for the data science.

In [68]:
cost=15
print("cost of the book is:",cost)

cost of the book is: 15

In [69]:
pr="cost of the book is :"+str(cost) # if str not given then it gives error
print(pr)

cost of the book is :15

In [23]:
mulitline="""this is a multiline string
with same as the comment 
but written in the variable
"""
print(mulitline)
print("""this is a multiline string
with same as the comment 
but written in the variable
""")

this is a multiline string
with same as the comment
but written in the variable

this is a multiline string
with same as the comment
but written in the variable

In [71]:
a="this is python basic for data science."
print(a[5:])
print(a[0:])
print(a[::-1])
print(a[-1:])
print(a[-15:-3])
print(a[2:15:3]) #a[start:end:step]
print(len(a))
print(len(a[2:18]))

is python basic for data science.
this is python basic for data science.
.ecneics atad rof cisab nohtyp si siht
.
r data scien
iiph
38
16

In [72]:
a[10]='a'

TypeError: 'str' object does not support item assignment

In [73]:
print(a.lower())
print(a.upper())
print(a.replace(" ",":"))
print(a)

this is python basic for data science.
THIS IS PYTHON BASIC FOR DATA SCIENCE.
this:is:python:basic:for:data:science.
this is python basic for data science.

In [74]:
b="this:split:funtion:in:strings"
l=b.split(":")
print(l)
print(l[0])
print(l[4])

['this', 'split', 'funtion', 'in', 'strings']
this
strings

In [75]:
c="    the is lot of spaces in begin and end    "
print(c.strip())

the is lot of spaces in begin and end

In [76]:
print(b.capitalize())

This:split:funtion:in:strings

In [77]:
print("abc" in "bdbdabc")

True

In [78]:
print('we are at the "string" functions')

we are at the "string" functions

In [79]:
print("hi hello this is data science\n string functions")

hi hello this is data science
 string functions

## DATA STRUCTURES

In [26]:
li = [1,2,3,"pikachu",3.5]
tu = (1,2,3,"ash",5.7)
se = {43,5,4,"misty",22.4}
dic = {23:"dsp","b":22,34:124}
print(li)
print(tu)
print(se)
print(dic)
print(type(li))
print(type(tu))
print(type(se))
print(type(dic))
print(dic.keys())
print(dic.values())
print(dic.items())

[1, 2, 3, 'pikachu', 3.5]
(1, 2, 3, 'ash', 5.7)
{4, 5, 22.4, 'misty', 43}
{23: 'dsp', 'b': 22, 34: 124}
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
dict_keys([23, 'b', 34])
dict_values(['dsp', 22, 124])
dict_items([(23, 'dsp'), ('b', 22), (34, 124)])

In [27]:
print(li[1])
print(43 in se)
print(dic[23])
print(tu[3])

2
True
dsp
ash

In [28]:
li[3:]

['pikachu', 3.5]

In [29]:
tu[:3]

(1, 2, 3)

In [30]:
l1=li+['cse','ece']
l1

[1, 2, 3, 'pikachu', 3.5, 'cse', 'ece']

In [31]:
l1.append(123)
l1

[1, 2, 3, 'pikachu', 3.5, 'cse', 'ece', 123]

In [32]:
t1=("puc","btech","mtech")
t2=("cse","ece","mech")
t3=t1+t2

In [33]:
t3

('puc', 'btech', 'mtech', 'cse', 'ece', 'mech')

In [34]:
se.add(3232)
se

{22.4, 3232, 4, 43, 5, 'misty'}

In [35]:
se.update({1232,1423})
se

{1232, 1423, 22.4, 3232, 4, 43, 5, 'misty'}

In [36]:
dic

{23: 'dsp', 'b': 22, 34: 124}

In [37]:
dic["newkwy"]="event"
dic

{23: 'dsp', 'b': 22, 34: 124, 'newkwy': 'event'}

In [38]:
dic1={12:21,45:2323}
dic2=dic1+dic

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [39]:
del l1[3]

In [40]:
l1

[1, 2, 3, 3.5, 'cse', 'ece', 123]

In [41]:
del dic['newkwy']

In [42]:
dic

{23: 'dsp', 'b': 22, 34: 124}

In [43]:
lii=l1.copy()

In [44]:
lii

[1, 2, 3, 3.5, 'cse', 'ece', 123]

In [45]:
l1.reverse()

In [46]:
l1

[123, 'ece', 'cse', 3.5, 3, 2, 1]

### MODULES

In [47]:
import sys
sys.path.append('/home/prakash/Downloads/')
import mymodules as myfun
#from mymodule import add1 import only the function
myfun.myname

'ASH'

In [48]:
myfun.add1(2,56)

58

In [49]:
myfun.divisableby2(12323)

False

In [50]:
for x in dic:
    print(x,dic[x])

23 dsp
b 22
34 124

In [59]:
L2=(l1,tu,dic,se)

In [60]:
L2

([123, 'ece', 'cse', 3.5, 3, 2, 1],
 (1, 2, 3, 'ash', 5.7),
 {23: 'dsp', 'b': 22, 34: 124},
 {1232, 1423, 22.4, 3232, 4, 43, 5, 'misty'})

In [61]:
type(L2[2])

dict

In [108]:
L3=[x**2 for x in range(4)]

In [109]:
L3

[0, 1, 4, 9]

In [110]:
s1={x*3 for x in range(10)}

In [111]:
s1

{0, 3, 6, 9, 12, 15, 18, 21, 24, 27}

In [112]:
def getmarkd():
    marksdic={}
    while True:
        student=input("enter student name:")
        marks=input('enter the subject marks with "," :')
        exit=input("if all students details are entered then enter yes ")
        if student in marksdic:
            print("already entered:")
        else:
            marksdic[student]=marks.split(",")
        if exit.lower() =="yes":
            return marksdic

In [113]:

studentdate=getmarkd()

enter student name:
enter the subject marks with "," :
if all students details are entered then enter yes
enter student name:
enter the subject marks with "," :
if all students details are entered then enter yes no
already entered:
enter student name:yes
enter the subject marks with "," :
if all students details are entered then enter yes yes

In [114]:
print(studentdate)

{'': [''], 'yes': ['']}

In [115]:
def getavgmarks(D):
    avgmarks={}
    for x in D:
        l=D[x]
        s=0
        for marks in l:
            s+=int(marks)
        avgmarks=s/len(l)
    return avgmarks

In [116]:
avrmark=getavgmarks(studentdate)

ValueError: invalid literal for int() with base 10: ''

In [117]:
avrmark

NameError: name 'avrmark' is not defined

In [118]:
l=["aaa","AAAA"]
l.sort()   #tim sort this function work under the merge and insertion sort 
print(l)

['AAAA', 'aaa']

In [3]:
def swap(a,b):
    tmp=a
    a=b
    b=tmp
    return a,b
a=10
b=20
swap(a,b)
print(a,b)
print(swap(a,b))

10 20
(20, 10)

In [1]:
def add(x,y):
    print(x+y)

In [2]:
add(111,222)

333

In [4]:
def subtract(a,b):
    return a-b

In [5]:
ans=subtract(222,111)

In [6]:
ans

111