## Strings

In [3]:
str1="hello world!"
str1

'hello world!'

In [1]:
str2=''' hello 
     world'''
print(str2)

 hello
     world

In [5]:
str1*3

'hello world!hello world!hello world!'

In [6]:
len(str1)

12

In [7]:
str1[0:10]

'hello worl'

In [8]:
str1[-5:]

'orld!'

In [9]:
str1[:]

'hello world!'

In [10]:
str1[::-1]

'!dlrow olleh'

In [11]:
str3=str1+"this is python"
str3

'hello world!this is python'

In [12]:
for i in str1:
    print(i)

h
e
l
l
o

w
o
r
l
d
!

In [13]:
str1[6]="e"

TypeError: 'str' object does not support item assignment

In [14]:
strr="     hello students    "
strr.strip()

'hello students'

In [15]:
str1.lower()

'hello world!'

In [16]:
str1.upper()

'HELLO WORLD!'

In [17]:
str1.replace("he",'ha')

'hallo world!'

In [18]:
str1.startswith("he")

True

In [19]:
str1

'hello world!'

In [20]:
str1.endswith("ld")

False

In [21]:
li=list(str1.split(" "))
li

['hello', 'world!']

In [22]:
print(str1.isalpha())
print(str1.isnumeric())
print(str1.isalnum())

False
False
False

In [23]:
st='abaddfd'
st1="afd233"
st2='123232'
print(st.isalpha())
print(st1.isalnum())
print(st2.isnumeric())
print(st1.isdecimal())

True
True
True
False

## LOOPS

In [24]:
for i in range(0,20):
    if(i==5):
        pass
    print(i)
print("loop ends")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
loop ends

In [4]:
for i in range(0,20):
    if(i==5):
        break
    print(i)
print("loop ends")
print(i)

0
1
2
3
4
loop ends
5

In [26]:
for i in range(0,20):
    if(i==5):
        continue
    print(i)
print("loop ends")

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
loop ends

## classes and objects

In [27]:
class student:
    def __init__(self):
        print('hello')
a=student()

hello

In [28]:
class stud:
    def __init__(self,iid,name):
        self.iid=iid
        self.name=name
    def upd(self):
        print(self.iid,self.name)
    
 
    def compare(self,other):
        if self.name==other.name:
            return True
        else:
            return False
s1=stud('190497','prakash')
s2=stud('190885','arujun')
s1.upd()
s2.upd()

s1.compare(s2)

190497 prakash
190885 arujun

False

In [29]:
class std:
    def __init__(self):
        print("hello")
        self.details=self.details()
    class details:
        def __init__(self):
            print("world")
st1=std()

hello
world

## Functions

In [2]:
def fun1():
   print("hello")
fun1()

hello

In [8]:
def square(n):
    return n-2
square(123)
print("square of the 9 is",square(9))

square of the 9 is 7

In [32]:
def fact(n):
    if(n==1):
        return 1
    else :
        return n*fact(n-1)
print("factorial of 5 is",fact(5))

factorial of 5 is 120

In [7]:
abc=list(range(0,10))

In [4]:
abc

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for k in ["abcdefgh","afdaf","afafa"]:
    print(k)

abcdefgh
afdaf
afafa

In [17]:
li=[1,2,3,54,6]

In [18]:
li.insert(2,100)

In [19]:
li

[1, 2, 100, 3, 54, 6]

In [29]:
li.sort(reverse=False)
li

[1, 2, 3, 6, 54, 100]

In [30]:
li

[1, 2, 3, 6, 54, 100]

In [10]:
ans=square(1134)

In [11]:
ans

1132

In [12]:
ans

1132